<body ng-controller="shopCart">
    <main>
        <div class="single-cart">
            <div class="container">
                <div class="wrapper">
                    <div class="breadcrumb">
                        <ul class="flexitem">
                            <li><a href="#Home">Home</a></li>
                            <li>Cart</li>
                        </ul>
                    </div>
                    <div class="page-title">
                        <h1>Shopping Cart</h1>
                    </div>
                    <div class="products one cart">
                        <div class="flexwrap">
                            <form action="" class="form-cart">
                                <div class="item">
                                    <table id="cart-table">
                                        <thead>
                                            <tr>
                                                <th>item</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Subtotal</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="myItem in myItems">
                                                <td class="flexitem">
                                                    <div class="thumbnail object-cover">
                                                        <a href="#!/page-single/{{myItem.id}}#page"><img ng-src="{{myItem.img2}}" alt=""></a>
                                                    </div>
                                                    <div class="content">
                                                        <strong><a href="#">{{myItem.title}}</a></strong>
                                                        <p>Color: {{myItem.color}}</p>
                                                        <p>Capacity: {{myItem.storagecapacity}}</p>
                                                    </div>
                                                </td>
                                                <td>${{myItem.price}}</td>
                                                <td>
                                                    <div class="qty-control flexitem">
                                                        <button class="minus" ng-click="removeBasket(myItem)">-</button>
                                                        <input type="number" value="{{myItem.count}}">
                                                        <button class="plus" ng-click="addItem(myItem)">+</button>
                                                    </div>
                                                </td>
                                                <td>${{!myItem.count*myItem.price ? "0" : myItem.count*myItem.price | number:0}}</td>
                                                <td><a class="item-remove" ><i class="ri-close-line" ng-click="removeBasket(myItem)"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="cart-summary styled">
                                <div class="item">
                                    <div class="coupon">
                                        <input type="text" placeholder="Enter coupon">
                                        <button>Apply</button>
                                    </div>
                                    <div class="shipping-rate collapse">
                                        <div class="has-child expand">
                                            <a href="#" class="icon-small">Estimate Shipping and Tax</a>
                                            <div class="content">
                                                <div class="countries">
                                                    <form action="">
                                                        <label for="country">Country</label>
                                                        <select name="" id="">
                                                            <option value="1"></option>
                                                            <option value="2">United Kingdom</option>
                                                            <option value="3">Indo</option>
                                                            <option value="4" selected="selected">United State</option>
                                                            <option value="5">Others</option>
                                                        </select>
                                                    </form>
                                                </div>
                                                <div class="states">
                                                    <form action="">
                                                        <label for="states">State/Province</label>
                                                        <select name="states" id="states">
                                                            <option value="1">Select a region, state or province</option>
                                                            <option value="2">New York</option>
                                                            <option value="3">Miami</option>
                                                            <option value="4">United State</option>
                                                            <option value="5">Others</option>
                                                        </select>
                                                    </form>
                                                    <div class="postal-code">
                                                        <form action=""></form>
                                                        <label for="postal">Zip/Postal Code</label>
                                                        <input type="number" name="postal" value="postal">
                                                    </div>
                                                    <div class="rate-optiones variant">
                                                        <form action="">
                                                            <p>
                                                                <span>Flat: $10.00</span>
                                                                <input type="radio" name="rate-optiones" id="flat" checked> 
                                                                <label for="flat" class="circle"></label>
                                                            </p>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cart-total">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Subtotal</th>
                                                    <td>{{!totalPrice ? "0" : totalPrice | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Discount</th>
                                                    <td>$100.00</td>
                                                </tr>
                                                <tr>
                                                    <th>Shipping <span class="mini-text">(Flat)</span></th>
                                                    <td>$10.00</td>
                                                </tr>
                                                <tr class="grand-total">
                                                    <th>TOTAL</th>
                                                    <td><strong>{{totalPrice+110 | currency}}</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="#!/checkout" class="secondary-button">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 
</body>